

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <meta property="og:title" content="Amazon FBA Box Contents 2D Barcode Generator." />
      <meta property="og:site_name" content="FBA BOX CONTENT" />
      <meta property="og:description" content="Box contents information for inbound shipments to Amazon FBA. This tool provides a simple way to create the labels for various worklfows." />
      <meta property="og:locale" content="en_US" />
      <meta property="og:image" content="http://fbaboxcontent.com/static/images/logo.png" />

      <title>Chaiwala</title>
      <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/bootstrap/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700" rel="stylesheet">
      <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!--   <script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="47243832-a867-4813-8276-3039846a65c3";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script> -->
   </head>
   <body>
      <div id="wrapper">
         <!-- header -->
         <header>
            <div class="container">
               <!-- navbar -->
               <nav class="navbar navbar-expand-lg navbar-light">
                  <a href="/" class="navbar-brand">
                  <img src="/static/image/step0001_burned.png" alt="Ghostly Logo">
                  
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="main-nav">
                     <ul class="navbar-nav">
                        <li class="nav-item active">
                           <a href="/" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link">PRICING</a>
                        </li>
                        <li class="nav-item">
                           <a href="/accounts/login/" class="nav-link">LOGIN</a>
                        </li>
                     </ul>
                  </div>
               </nav>
               <!-- end navbar -->
               <!-- hero unit -->
             <!--   <div class="hero-unit">
                  <div class="text">
                     
                     <ul class="list-unstyled list-steps">
                        <li>
                           <p><span class="number">1</span> <span>Upload your shipment Excel or TSV file</span></p>
                        </li>
                        <li>
                           <p><span class="number">2</span> <span>Scan product and place in boxes</span></p>
                        </li>
                        <li>
                           <p><span class="number">3</span> <span>Print your 2D barcode and place on box</span></p>
                        </li>
                     </ul>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9 ml-lg-5 mb-3">  
                     <iframe 
                        width="560" 
                        height="315" 
                        src="https://player.vimeo.com/video/324774007" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                  </div>
               </div>
              -->  <!-- end hero unit -->
            </div>
         </header>
         <!-- end header -->
         <main>
   <!-- cta -->
   <section class="cta">
      <div class="container">
         <div class="text">
            <span class="text-circle">Register</span> For Chai  !!! 
            <svg class="circle" width="150" height="77" xmlns="http://www.w3.org/2000/svg">
               <path d="M118.106 13.79c-8.008-8.665-18.378-9.41-28.41-9.961-22.427-1.243-44.054 2.078-63.622 14.205C16.45 23.947 9.08 31.742 6.24 43.124c-2.202 8.879.621 16.283 9.25 19.284a123.195 123.195 0 0 0 25.126 5.54c21.873 2.83 44.1.736 65.06-6.126 7.671-2.504 15.058-5.629 21.184-11.116 8.559-7.67 8.08-14.027-1.456-20.455-8.506-5.753-18.343-7.866-28.055-10.352-2.735-.71-5.487-1.35-8.186-2.22a3.8 3.8 0 0 1 1.97-7.245c10.264 3.445 20.67 6.624 30.63 10.796a41.266 41.266 0 0 1 12.43 9.145c5.682 5.593 6.162 12.021 2.309 19.124a38.478 38.478 0 0 1-17.597 15.98c-11.24 5.559-23.35 8.204-35.673 9.767a164.994 164.994 0 0 1-61.136-4.44 46.451 46.451 0 0 1-11.133-4.438C2.085 61.413-1.609 52.482.646 42.52 3.31 30.837 10.093 22.1 19.93 15.566A94.731 94.731 0 0 1 63.398.775a106.894 106.894 0 0 1 40.68 2.912c7.707 2.255 11.507 4.972 14.028 10.103z" fill="#996633"/>
            </svg>
         </div>
         <div>
            <a href="/accounts/register/" class="btn btn-secondary btn-lg btn-cta">Sign up</a>
         </div>
      </div>
   </section >
   <!-- end cta
    metrics
      <section class="metrics pb-4">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="metric">
                <h2 class="text">
                  <span class="value">10,824</span>
                  <span class="title">Products Packed</span>
                </h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="metric">
                <h2 class="text">
                  <span class="value">$1,082.4</span>
                  <span class="title">Saved on Amazon sorting fees</span>
                </h2>
              </div>
            </div>
          </div>
        </div>  
      </section>
  -->     <!-- end metrics -->
      
   <!-- pricing table -->
 <!--      <section class="pricing-table">

         <div class="pricing-table-item">
          <div class="box">
            <div class="header">
              <span class="price"><span class="currency">$</span>69.99 <span class="term">/ mo</span></span>
              <span class="title">PACK &amp; PREP CENTERS</span>
            </div>
            <ul class="list-features">
              <li>Unlimited File Uploads</li>
              <li>2D Barcode Printing</li>
              <li>Add Expiration Dates</li>
            </ul>
            <a href="#" class="btn btn-primary btn-lg btn-subscribe">Coming Soon</a>
          </div>
        </div>

        <div class="pricing-table-item">
          <div class="box">
            <div class="header">
              <span class="price"><span class="currency">$</span>39.99 <span class="term">/ mo</span></span>
              <span class="title">LARGE BULK SELLER</span>
            </div>
            <ul class="list-features">
              <li>Unlimited File Uploads</li>
              <li>2D Barcode Printing</li>
              <li>Add Expiration Dates</li>
            </ul>
            <a href="#" class="btn btn-primary btn-lg btn-subscribe">Coming Soon</a>
          </div>
        </div>

        <div class="pricing-table-item">
          <div class="box">
            <div class="header">
              <span class="price"><span class="currency">$</span>9.99 <span class="term">/ mo</span></span>
              <span class="title">SINGLE SELLER</span>
            </div>
            <ul class="list-features">
              <li>Unlimited File Uploads</li>
              <li>2D Barcode Printing</li>
              <li>Add Expiration Dates</li>
            </ul>
            <a href="/accounts/register/" class="btn btn-primary btn-lg btn-subscribe">1st Shipment is Free</a>
          </div>
          <div class="perks">
            <p>No contract!</p>
            <p>No setup fee!</p>
            <p>Cancel anytime!</p>
          </div>
        </div>


        <div class="pricing-table-item">
            <div class="box">
              <div class="header">
                <span class="price">FREE</span>
                <span class="title">ACCELERLIST CUSTOMER</span>
              </div>
              <ul class="list-features">
                <li>Unlimited File Uploads</li>
                <li>2D Barcode Printing</li>
                <li>Add Expiration Dates</li>
              </ul>
              <a href="/accounts/register/" class="btn btn-primary btn-lg btn-subscribe">Create Account</a>
            </div>
          </div>
      </section>
  -->     <!-- end pricing table -->
</main>
         <!-- footer -->
         <!-- <footer>
            <div class="container-fluid">
               <p class="copyright">&copy; 2019 AccelerList. All rights reserved.</p>
            </div>
         </footer> -->
         <!-- end footer -->
      </div>
      <!-- Javascripts -->
      <script src="/static/vendors/jquery/jquery-3.3.1.slim.min.js"></script>
      <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>

      <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
<script>window.LogRocket && window.LogRocket.init('qzfoj9/fba-box-content');</script>
   <!-- Start of Async ProveSource Code --><script>!function(o,i){window.provesrc&&window.console&&console.error&&console.error("ProveSource is included twice in this page."),provesrc=window.provesrc={dq:[],display:function(o,i){this.dq.push({n:o,g:i})}},o._provesrcAsyncInit=function(){provesrc.init({apiKey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI1YzhmMDdmZGQxYWIxMDAxZjlmNWE3MmYiLCJpYXQiOjE1NTI4Nzc1NjV9.TSXNQkTSZIgKjo82s537LIrVMSxrAFPd2Ww-vIWuJFA",v:"0.0.3"})};var r=i.createElement("script");r.type="text/javascript",r.async=!0,r.charset="UTF-8",r.src="https://cdn.provesrc.com/provesrc.js";var e=i.getElementsByTagName("script")[0];e.parentNode.insertBefore(r,e)}(window,document);</script><!-- End of Async ProveSource Code -->
   </body>
</html>