<h1>
   CHAI WALA FORM 
   SINGUP FORM 
</h1>
    <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
             
             {{form}}
     <input type="text" name="form.username">
     <input type="text" name="form.username">
     <input type="text" name="form.username">
     <input type="text" name="form.username">
     <input type="text" name="form.username">
     <input type="text" name="form.username">

          <input type="SUBMIT"  value="SUBMIT">         